
<html>
	<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1XTFM65VS2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1XTFM65VS2');
</script>
	<meta charset=“UTF-8”>

		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,bold,900,600">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		  <!-- Custom styles for this template -->
 		 <link href="css/custom.css" rel="stylesheet">

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		<title>VoiceMask</title>
	</head>
	<body>
		<div class = "global_container">
			<div class = "section"  >

				<h1>VoiceMask: Shielding Your Voice With Real-Time Predictive Perturbation</h1>
				<div class ="boxed">
					<p>Voice synthesis attack is threatening the security of everyone's voice. How to prevent the attackers from synthesizing our voices is the key question this research aims to answer.
						In this paper, we explore the feasibility of real-time protection against voice synthesis.
By implementing real-time predictive model and universal perturbation header, VoiceMask successfully protects real-time speech signal in both online and offline real-world scenarios.
Furthermore, VoiceMask mitigates the audio distortion in protected speech via the weight-based amplitude constrained mechanism.
We evaluate VoiceMask protection performance under different real-world scenarios, and the experiment results show that VoiceMask can effectively defend against voice synthesis attacks in both digital and physical worlds.
					</p>
					<br>
				<!-- </div> -->
					<p style="font-size:20px; text-align: center"><a href="assets/paper.pdf"</a>
					<a href="#bibtex" data-toggle="collapse" role="button">
					 <i class="fa fa-quote-right" aria-hidden="true"></i></a>
				<div id="bibtex" style="margin-top: 1.5em;" class="collapse" align="left">
					<pre style="white-space: pre">
@inproceedings{guo2022specpatch,
  title={SpecPatch: Human-In-The-Loop Adversarial Audio Spectrogram Patch Attack on Speech Recognition},
  author={Guo, Hanqing and Wang, Yuanda and Ivanov, Nikolay and Yan, Qiben and Xiao, Li},
  booktitle={Proceedings of the 2022  ACM Conference on Computer and Communications Security (CCS)},
  year={2022}
}
</pre></p></div>
	</div>

				<h2>Application Scenarios of VoiceMask Protection</h2>
				<div class ="boxed">
					<img src="assets/P1.png" width="500px" height="125px">
				</div>
				<p> <b> Real Time Communications Applications:</b> It is common for people to send voice memos or make voice calls using real-time communication apps.
The attackers may hide in chat groups and record your voice for voice synthesis.
Meanwhile, many people meet online since the COVID-19 pandemic,
the attackers can attend public meetings and record the victim's voice without permission.
However, existing defense methods cannot provide protection for the real-time streaming speech.
VoiceMask can provide real-time adversarial perturbation for the real-time streaming speech. </p>
				<div class ="boxed">
					<img src="assets/P2.png" width="500px" height="125px">
				</div>
				<p> <b> Social Network:</b> People are willing to share their daily life on social media.
There are billions of active users uploading their self-made videos to TikTok, YouTube and Instagram.
Usually, all these videos are public and any visitor has the access to download and reuse them.
Once you expose your voice in these videos, malicious attackers could clone your voice and impersonate your identity.
Even as existing defense methods may be able to protect your voice in videos, it takes much more time than the length of the video itself.
VoiceMask could protect your voice in your social network secure without any extra latency.</p>

				<div class ="boxed">
					<img src="assets/P3.png" width="500px" height="125px">
				</div>
				<p> <b> Real-world Conversation:</b> Real-world human speech is threatened by voice synthesis attackers as well.
While people are talking, an adversary can record the speech audio and launch the voice synthesis attack.
Since real-world speech is a streaming audio signal, existing defenses cannot mask our voice efficiently enough to allow the protection of streaming audios.
VoiceMask is able to protect your real-world conversation via real-time over-the-air perturbation injection.</p>

				<h2>VoiceMask System Design</h2>
				<ul>
						<li class="question">
							<b> How to generate real-time perturbation?</b>
							<div class ="boxed">
								<img src="assets/P4.png" width="800px" height="440px">
							</div>
						<p class="answer">
							As depicted in above figure, VoiceMask predictive model can forecast adversarial perturbation for upcoming streaming speech.
							For example, the model captures the input for time 0 to time t, and outputs the perturbation from t+&Delta to t+ &Delta t+ &gamma.
							Then the model will slid forward to the next time window and so on.
							However, the beginning of the speech is still exposed to threat only with the predictive model.
							To address this challenge, we design a universal perturbation header for the specific speaker to completely protect our voice against unauthorized speech synthesis attacks.
							 <!-- <strong class="bold"> (e.g., command to smart home, Call someone by Siri, Interact with Google Assistants)</strong>, the interpreted commands is changed to the attacker's intention.
							In our example (right), the transcribed sentences to changed from "close the window and curtains" to "open the door". In this case, our attack is very dangerous to able to alter/control the smart devices without users' perception. -->
						</p>
					<b>Key Features of VoiceMask:</b>
					<p class="answer">
						<ul>
								<li class="answer"> <b>Real-time:</b> The input of the predictive model is the previous speech signal and the output perturbation works for the following speech stream. VoiceMask can generate the perturbation in very short time delay (tens of milliseconds).</li>
								<li class="answer">  <b>imperceptible:</b> VoiceMask perturbation is operated on the human insensitive hearing frequency band, so that it it more difficult to realize the perturbation in the protected speech.</li>
								<li class="answer">  <b>Privacy-preserving:</b> The VoiceMask model is light-weighted and locally trained. The users do not need to upload their voice to cloud and it keeps their privacy secure.</li>
						</ul>

					</p>
				</ul>

					<h2>VoiceMask Sample Audios</h2>

					<div style="margin-top=5em;">

						<table>
							<tr>
								<td><h3>Raw Speech</h3> </td>
								<td><h4>Protected Speech </h4></td>
								<td><h3>Synthetic Speech (Unprotected)</h3> </td>
								<td><h4>Synthetic Speech (Protected)</h4></td>
							</tr>
							<tr>
								<td>"Turn on the lights"</td>
								<td><strong class="bold">[Patch + Mute]:</strong> "<b>Open the door</b>----------------"</td>
							</tr>
						<tr>
							<td><audio controls>
									<source src="./assets/T_turn.wav" type="audio/wav">
									Your browser does not support the <code>audio</code> element.
								</audio></td>
							<td><audio controls>
									<source src="./assets/FS_opendoor.wav" type="audio/wav">
									Your browser does not support the <code>audio</code> element.
								</audio></td>
								<td><audio controls>
										<source src="./assets/T_turn.wav" type="audio/wav">
										Your browser does not support the <code>audio</code> element.
									</audio></td>
								<td><audio controls>
										<source src="./assets/FS_opendoor.wav" type="audio/wav">
										Your browser does not support the <code>audio</code> element.
									</audio></td>
						</tr>
							<tr>
								<td>"Close the window and curtains"</td>
								<td><strong class="bold">[Patch]:</strong> "<b>Open the door<b> window and curtains"</td>
							</tr>
						<tr>
							<td><audio controls>
									<source src="./assets/T_long.wav" type="audio/wav">
									Your browser does not support the <code>audio</code> element.
								</audio></td>
							<td><audio controls>
									<source src="./assets/F_opendoor.wav" type="audio/wav">
									Your browser does not support the <code>audio</code> element.
								</audio></td>
						</tr>
						<tr>
							<td>"Turn on the lights"</td>
							<td><strong class="bold">[Mute]:</strong>"-------------------"</td>
						</tr>
					<tr>
						<td><audio controls>
								<source src="./assets/T_turn.wav" type="audio/wav">
								Your browser does not support the <code>audio</code> element.
							</audio></td>
						<td><audio controls>
								<source src="./assets/S_turn.wav" type="audio/wav">
								Your browser does not support the <code>audio</code> element.
							</audio></td>
					</tr>

					</table>



	</body>
</html>
